
.height-lg {
    height: 100vh;
}

.height-sm {
    height: 200px;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.publish {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}